/*
 * Anime CSS File
 * Styles for the anime app
 * Add #anime before every selector to avoid conflicts
 */

#anime {
    background-color: #FFD1B1;
}

/* Buttons */
#anime .amazon {
    background-color: rgb(247, 148, 0);
    border-color: rgb(247, 148, 0);
    color: white;
}
#anime .animelab {
    background-color: rgb(53, 39, 108);
    background-color: rgb(53, 39, 108);
    color: white;
}
#anime .crunchyroll {
    background-color: rgb(239, 135, 35);
    border-color: rgb(239, 135, 35);
    color: white;
}
#anime .funimation {
    background-color: rgb(63, 0, 149);
    border-color: rgb(63, 0, 149);
    color: white;
}
#anime .hulu {
    background-color: rgb(27, 224, 127);
    border-color: rgb(27, 224, 127);
    color: white;
}
#anime .netflix {
    background-color: rgb(222, 9, 19);
    border-color: rgb(222, 9, 19);
    color: white;
}
#anime .official-site {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    color: white;
}
#anime .twitter {
    background-color: rgb(28, 156, 234);
    border-color: rgb(28, 156, 234);
    color: white;
}
#anime .viz {
    background-color: rgb(246, 0, 0);
    border-color: rgb(246, 0, 0);
    color: white;
}

#anime #header {
    background-image: url("../images/anime.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#anime #header .jumbotron {
    color: white;
    background-color: transparent;
    padding: 1rem;
    margin-bottom: 0;
}

#anime #search {
    background-color: #FF8E3E;
    padding: 2rem;
}

#anime #search .form-group {
    margin-bottom: 0;
}

#anime #content {
    padding: 2rem;
}

#anime #content #show {
    min-height: 10rem;
    margin-bottom: 2rem;
}

#anime #content #show img {
    width: 100%;
    object-fit: cover;
    margin-right: 1rem;
}

#anime #content #show .btn {
    margin-right: 0.5rem;
}

#anime #content #characters {
    height: 20rem;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 2rem;
}

#anime #content #characters .character-card {
    display: inline-block;
    width: 9rem;
    margin-right: 1rem;
}

#anime #content #characters .character-card img {
    width: 100%;
    max-height: 14rem;
}

#anime #content #characters .character-card .card-body {
    padding: 0.25rem;
}

#anime #content #characters .character-card h5 {
    font-size: 1rem;
    margin: 0;
}

#anime #trailer {
    padding: 3rem;
    background-color: #FF8E3E;
}

#anime #trailer iframe {
    width: 100%;
    height: 20rem;
}