/*
 * Home CSS File
 * Styles that cover the home page
 * Add #home before every selector to avoid conflicts
 */

#home {
    background-color: black;
}

#home #header {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 30rem;
    overflow: auto;
}
#home #header .jumbotron {
    background-color: initial;
}
#home #header .btn {
    color: #fff;
    border-color: #fff;
}
#home #header .btn:hover {
    color: #000;
    background-color: white;
}

#home #about {
    background-color: black;
    min-height: 10rem;
    padding: 3rem;
}
#home #about-left {
    text-align: center;
}
#home #about-left h1 {
    font-size: 8rem;
}
#home #about-right {
    text-align: center;
}

#home #projects {
    background-color: #35007A;
    padding: 3rem;
    min-height: 50rem;
    color: white;
}

#home #projects #projects-list {
    align-items: center;
    justify-content: center;
}

#home .card {
    display: inline-block;
    margin: 0.5rem;
    background-color: black;
    color: white;
    border: 0;
    border-radius: initial;
    text-align: center;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
#home .card:hover {
    background-color: white;
    color: black;
}
#home .card-icon {
    font-size: 5rem;
}

/* Media Queries */
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #home #about-left {
        padding-right: 3rem;
        text-align: right;
    }
    #home #about-right {
        padding-left: 3rem;
        text-align: left;
    }
    #home #projects-list {
        display: initial;
        flex-wrap: initial;
        margin: 0 auto;
    }
    #home .card {
        width: 100%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #home #projects-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    #home .card {
        width: 12rem;
        height: 20rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #home #header {
        min-height: 50rem;
        padding-top: 10rem;
    }
    #home .card {
        width: 15rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*Super large devices (high-res desktops, 2048px and up)*/
@media (min-width: 2048px) {
    #home .lead {
        font-size: 2rem;
    }
    #home #header h1 {
        font-size: 10rem;
    }
    #home #header .btn-lg {
        font-size: 1.8rem;
        margin-top: 1rem;
    }
    #home #about .container {
        max-width: 1600px;
    }
    #home #about-left {
        padding-right: 8rem;
    }
    #home #about-left h1 {
        font-size: 15rem;
    }
    #home #about-right {
        padding-left: 8rem;
    }
}
