/*
 * Main CSS File
 * Styles that cover all parts of the site
 */

/* Body styles to give modern site look */
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Set Bootstrap buttons to have pointer cursor on hover
* Fixes links in react-scroll plugin
 */
.btn {
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2rem;
}
footer p {
    margin-bottom: 0;
}