/*
 * Music CSS File
 * Styles for the music app
 * Add #music before every selector to avoid conflicts
 */

#music {
    background-color: #CCB5A3;
    min-height: 100vh;
    position: relative;
}

#music #header {
    background-image: url("../images/instruments.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#music #header .jumbotron {
    color: white;
    background-color: transparent;
    padding: 1rem;
    margin-bottom: 0;
}

#music #search {
    background-color: #4D3726;
    padding: 2rem;
}

#music #search .form-group {
    margin-bottom: 0;
}

#music #content {
    padding: 2rem;
}

#music #content h1 {
    font-weight: 300;
    margin-bottom: 1rem;
}

#music #content .btn {
    background-color: #4D3726;
    border-color: #4D3726;
    color: white;
}

#music #content .btn:hover {
    background-color: #3D2C1E;
    border-color: #3D2C1E;
}

#music #content #artist {
    min-height: 10rem;
    margin-bottom: 1rem;
}

#music #content #artist img {
    float: left;
    width: 10rem;
    object-fit: cover;
    margin-right: 1rem;
}

#music #content #tracks {
    height: 13rem;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#music #content #tracks .track {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

#music #content #tracks .track img {
    width: 10rem;
}

#music #content #tracks .track-icon {
    position: relative;
    bottom: 8rem;
    left: 3.5rem;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 1rem;
    opacity: 0.8;
}