/*
 * Stocks CSS File
 * Styles for the stock app
 * Add #stocks before every selector to avoid conflicts
 */

#stocks {
    background-color: #CFD1FA;
    min-height: 100vh;
    position: relative;
}

#stocks #header {
    background-image: url("../images/stocks.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#stocks #header .jumbotron {
    color: black;
    background-color: transparent;
    padding: 1rem;
    margin-bottom: 0;
}

#stocks #search {
    background-color: #1C2061;
    padding: 2rem;
}

#stocks #profile {
    margin: 1rem 0;
}

#stocks #profile .container {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#stocks #profile #symbol-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#stocks #profile #symbol-name h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

/* Media Queries */
/*Small devices (portrait phones, 576px and down)*/
@media (max-width: 575px) {
    #stocks #profile #top-area {
        text-align: center;
    }
    #stocks #profile #symbol-value {
        font-size: 1.5rem;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #stocks #profile #top-area {
        height: 8rem;
    }
    #stocks #profile #symbol-icon img {
        float: right;
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #stocks #profile #symbol-icon {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #stocks #profile #symbol-name {
        text-align: left;
    }
    #stocks #profile #symbol-value {
        line-height: 8rem;
        font-size: 1rem;
        text-align: right;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #stocks #profile #symbol-icon {
        display: initial;
        justify-content: initial;
        flex-direction: initial;
    }
    #stocks #profile #symbol-value {
        font-size: 1.5rem;
    }
}